{{#extend "layout-base"}}
	{{#content "body"}}
            <div id="whoiam">
                <h1>Dondrey Taylor</h1>
                <p>I'm the CTO &amp; Co-Founder of <a href="https://dnn.media/" target="_blank">DNN Media</a> and have an uncontrollable urge to <a href="http://github.com/dondreytaylor" target="_blank">build things</a>. Simplistic user experiences and clean code makes me feel all warm and cuddly inside.</p>
            </div>
            <img id="whatilooklike" src="/assets/img/dondreytaylor.gif">
            <footer>
                <div id="social">
                    <a href="https://github.com/dondreytaylor" target="_blank"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/dondreytaylor" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
                <small id="thisismine"></small>
                <a href="mailto:dondrey.taylor@gmail.com">contact</a>
                <script>document.getElementById("thisismine").innerHTML = "&copy;  " + (new Date()).getFullYear() + " copyright"</script>
            </footer>
	{{/content}}
{{/extend}}
